.carousel-image-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #46c0a0;
}
.carousel-image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 28, 28, 0.713);
  z-index: 1;
}
.carousel-wrapper {
  background-color: #46c0a0;
  width: 100%;
  height: 65vh;
}
.centerCaption {
  top: 40%;
  position: absolute;
  z-index: 1;
}
.imageService {
  width: 100px;
  height: 300px;
  overflow: hidden;
}
.imageService img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.size-faq {
  height: 400px;
}
.size-faq h3 {
  font-size: 40px;
}
.faq-background {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  font-size: 200px;
  font-weight: 800;
  opacity: 0.3;
  top: 50px;
  bottom: 10px;
}
.variantWhite {
  color: white;
  border: 1px solid white;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
}
.nav-element {
  background-color: #fae0d0;
  color: #473d3c;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 100px;
  background-color: #473d3c;
  color: rgb(232, 232, 232);
}
.btn-standard {
  background-color: #39d1b8;
  border: none;
}
.btn-standard:hover {
  background-color: #217365;
}
.btn-outline {
  border-color: #217365;
  color: #217365;
}
.team-container {
  padding: 12px;
}
.team-container h1 {
  text-align: center;
}
.image-container {
  width: 200px;
  height: 200px;
}
.image {
  width: 100%;
}
.nav-logo {
  width: 100px;
}
.nav-logo img {
  width: 100%;
}
.team-main {
  padding-top: 80px;
  padding-bottom: 80px;

  width: 80%;
}
.team-main h1 {
  text-align: center;
  padding-bottom: 50px;
}
.team-item {
  width: 26.66%;
  margin: auto;
  margin-bottom: 20px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.image {
  width: 100%;
}
.image-container {
  margin: auto;
  background-color: purple;
}
.member-description {
  position: absolute;
  background-color: #fae0d0;
  margin-top: 100px;
  margin: auto;
  width: 200px;
  text-align: center;
  color: #217365;
}

.member-description p {
  color: #473d3c;
}
/*----------------------about----------------*/

.mainPagesHeader {
}
.image-header-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.image-header-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #473d3c;
  z-index: 1;
  opacity: 0.8;
}
.image-header-container img {
  width: 100%;
}

.text-header-container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 200px;
  text-align: center;
  width: 600px;
  margin: auto;
  color: white;
}
.main-network {
  background-image: url("../src/assets/car1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0px 100px;
}
.network-box {
  width: 40%;
  padding: 100px;
  margin: auto;
  position: relative;
  color: white;
  overflow: hidden;
}

.network-box::before {
  content: "";
  position: absolute;
  background-color: #39d1b8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
}
.network-box > * {
  position: relative;
  z-index: 2;
}
.show-case-service {
  background-color: #39d1b8;
  color: white;
}
.main-steps {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.main-left {
  background-color: #39d1b8;
  width: 40%;
  position: relative;
}
.main-right {
  padding: 100px;
  width: 50%;
}
.container-image-steps {
  width: 40%;
  height: 30vh;
  overflow: hidden;
  position: absolute;
  bottom: 30%;
  left: 70%;
}
.container-image-steps img {
  width: 100%;
}
.bottom-text-steps {
  background-color: #39d1b8;
  width: 100%;
  height: 70vh;
}
.box-text-steps {
  background-color: #473d3c;
  width: 40%;
  padding: 50px;
  position: absolute;
  left: 30%;
  right: 0;
  bottom: -120%;
  color: white;
}
.second-part {
  width: 30%;
}
.second {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-top: 100px;
}
.second img {
  width: 100%;
}
.main-contact-development {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 50px;
}
.main-overview-services {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.main-service-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-top: 100px;
  justify-content: space-between;
}
.service-picture {
  width: 50%;
  height: 60vh;
  margin-bottom: 20px;
  overflow: hidden;
}
.service-picture img {
  width: 100%;
}

.service-text {
  width: 40%;
}
.main-contact-service {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #39d1b8;
}
.main_strategic {
  margin: auto;
}
.strategic_details {
  background-color: #fae0d0;
  width: 100%;
  padding: 5%;
}

.main_offers {
  padding: 5%;
}
.offers {
  display: flex;
  align-items: center;
}
.main_how {
  background-color: #39d1b8;
  width: 50%;
  margin: auto;
  padding: 5%;
}
